.my-tickets-bg {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  background-color: #f1f5f9;
  background-size: 400% 400%;
  animation: gradientBG 10s ease infinite;
}

@keyframes gradientBG {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.tickets-second-bg {
  background-color: white;
  width: 80%;
  @media (max-width: 767px) {
    width: 98%;
  }
}

p {
  margin: 0px;
}

.ticket-page-bus-icon {
  position: absolute;
  top: 50%;
  left: 0; /* Stick to the left */
  transform: translate(-50%, -50%);
  width: 40px;
  height: 40px;
}

.custom-bluish-shadow {
  box-shadow: 0 0.5rem 1rem rgba(0, 123, 255, 0.2); /* bluish shadow */
  animation: boxShadower 3s alternate infinite;
}

@keyframes boxShadower {
  0% {
    box-shadow: 0 0.5rem 1rem rgba(0, 123, 255, 0.2);
  }
  100% {
    box-shadow: 0 0.5rem 1rem rgba(0, 123, 255, 0.4);
  }
}

.mt-station {
  font-size: 14px;
  @media (min-width: 992px) {
    font-size: 16px;
  }
}

.mt-bus-name {
  font-size: 12px;
  @media (min-width: 992px) {
    font-size: 14px;
  }
}

.mt-ticket {
  font-size: 12px;
  @media (min-width: 992px) {
    font-size: 14px;
  }
}

.my-ticket-page {
  min-height: 85vh;
}

.mt-seat-no {
  background-color: #b91c1c;
}

.upcoming-ul {
  height: 80vh;
  overflow-y: scroll;
}

.past-ul {
  height: 80vh;
  overflow-y: scroll;
}

.trip-toggler {
  display: flex;
}
.trip-toggler > button {
  padding: 10px;
}

.toggler-btn-1 {
  border-radius: 5px 0px 0px 5px;
  border-right: none;
  transition: all 0.4s;
}

.toggler-btn-2 {
  border-radius: 0px 5px 5px 0px;
  transition: all 0.4s;
}

.active-toggle-btn {
  background-color: #b91c1c;
  color: white;
}

.inactive-toggle-btn {
  background-color: #f3f4f6;
  color: #374151;
}
