@import url("https://fonts.googleapis.com/css2?family=Rubik+Mono+One&display=swap");

.home-bg {
  background-color: #e6e6fa;
}

.home-bus-img {
  width: 80%;
  @media (min-width: 576px) {
    width: 60%;
  }
  @media (min-width: 768px) {
    width: 40%;
  }
}

.services-heading {
  font-size: 18px;
  font-weight: 600;
}

.services-para {
  font-size: 13px;
  /* color: #f1f5f9; */
}

.service-item {
  width: 100%;
  @media (min-width: 576px) {
    width: 47%;
  }
  @media (min-width: 768px) {
    width: 30%;
  }
}

.route-text {
  font-size: 13px;
  font-weight: 600;
  margin: 0px;

  @media (min-width: 768px) {
  }
}

.route-heading {
  font-size: 10px;
}

.route-time-para {
  font-size: 10px;
  padding: 2px 7px;
}

.reserve-seat-btn {
  padding: 7px 20px;
  font-size: 12px;
  background-color: #0088bd;
  max-width: 150px;
}

.popular-route-item {
  width: 100%;
  @media (min-width: 576px) {
    width: 48%;
  }
  @media (min-width: 1000px) {
    width: 30%;
  }
}

.route-hr {
  width: 20px;
  margin: 0px;
  border: none;
  border-top: 2px dotted #000;
  @media (max-width: 600px) {
    display: none;
  }
}

.banner {
  height: 72vh;
  width: 100%;
  overflow: hidden;
  text-align: center;
  position: relative;
}

.banner .slider {
  position: absolute;
  width: 100px;
  height: 150px;
  top: 10%;
  left: calc(50% - 50px);
  transform-style: preserve-3d;
  transform: perspective(900px) rotateX(-8deg);
  animation: autoRun 80s linear infinite;
  z-index: 2;
}

@keyframes autoRun {
  from {
    transform: perspective(900px) rotateX(-9deg) rotateY(0deg);
  }
  to {
    transform: perspective(900px) rotateX(-9deg) rotateY(360deg);
  }
}

.slider .item {
  position: absolute;
  inset: 0 0 0 0;
  transform: rotateY(calc((var(--position) - 1) * (360deg / var(--quantity))))
    translateZ(450px);

  @media (max-width: 767px) {
    transform: rotateY(calc((var(--position) - 1) * (360deg / var(--quantity))))
      translateZ(200px);
  }
  @media (max-width: 576px) {
    transform: rotateY(calc((var(--position) - 1) * (360deg / var(--quantity))))
      translateZ(130px);
  }
}

.bus-image {
  width: 100%;
  object-fit: cover;
  height: 100%;
  border-radius: 7px;
}

.banner .content {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  width: min(1400px, 100vw);
  height: max-content;
  padding-bottom: 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}
.banner .content h1 {
  font-family: "Rubik Mono One", monospace;
  font-weight: 400;
  font-style: normal;
  font-size: 5em;
  line-height: 1em;
  color: #ff6f61;
  position: relative;
  @media (max-width: 767px) {
    font-size: 2em;
  }
}

.banner .content h1::after {
  position: absolute;
  inset: 0;
  content: attr(data-content);
  z-index: 1;
  -webkit-text-stroke: 2px white;
  color: transparent;
}

.banner .content .modal-img {
  background: url("../../assets/centerBusImg2.png");
  width: 100%;
  height: 300px;
  position: absolute;
  left: 0;
  bottom: 0;
  background-size: auto 100%;
  background-repeat: no-repeat;
  background-position: top center;
  @media (max-width: 767px) {
    height: 200px;
  }
}
