.no-outline {
  outline: none;
}

.exchange-symbol {
  color: #b91c1c;
  background-color: #fef2f2;
  font-size: 22px;
}

.exchange-div {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #fef2f2;
  border: 1px solid #fecaca;
  padding: 5px 20px;
  border-radius: 10px;
}

.exchange-div:hover {
  /* background-color: #fee2e2; */
  transform: rotate(180deg);
  transition: all 0.3s ease;
}

.input-date {
  width: 250px;
}

.home-search-btn {
  background-color: #b91c1c; /* deep red */
  color: white;
  border: none;
  border-radius: 7px;
  font-size: 13px;
  padding: 10px 20px;
  transition: all 0.2s ease;
}

.home-search-btn:hover {
  background-color: #991b1b;
  transform: translateY(-1px);
}

.station-suggestion-item {
  list-style-type: none;
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding: 10px;
  transition: background-color 0.2s ease-in-out;
}

.station-suggestion-item:hover {
  background-color: gainsboro;
}

.suggestion-container {
  position: absolute;
  top: calc(100% + 19px);
  padding: 0px;
  left: 0;
  width: 100%;
  max-height: 200px;
  overflow-y: auto;
  box-shadow: 0 1rem 3rem rgba(0, 0, 0, 0.175);
  border-radius: 7px;
  background-color: white;
  z-index: 1;
  @media (max-width: 768px) {
    top: calc(100%);
  }
}

.search-bus-bg {
  font-size: 13px;
  background-color: white;
  @media (min-width: 768px) {
    font-size: 15px;
  }
  @media (min-width: 900px) {
    font-size: 16px;
  }
}
